<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登録完了</title>
    <!-- cssフォルダを書く位置に注意 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/form.css') }}"
    />
  </head>
  <body>
    <h2>登録完了</h2>

    <!-- messages変数の利用可能な範囲をwithステートメント内だけに限定 -->
    <!-- flashメッセージがあれば、リストで取得する -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li class="flash">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
