{% extends "oshi_crud/base.html" %}
{% block title %}推しへのコメント登録{% endblock %}
{% block content %}
<h2>推しの登録</h2>
<!--novalidate="novalidate" フォームの送信時に入力内容の妥当性をチェックしない -->
<form
  action="{{ url_for('oshi_crud.create') }}"
  method="POST"
  enctype="multipart/form-data"
  novalidate="novalidate"
>
  <!-- csrfトークンを自動生成、代わりに form.hidden()でもよい -->
  {{ oshi_form.csrf_token }}
  <!-- バリデートエラーは以下のようにform.パーツ名.errorsに設定される -->
  <p>
    {{ oshi_form.oshi_name.label }}
    {{ oshi_form.oshi_name(placeholder="推しのXアカウント名（入力省略可能）") }}
  </p>
  {% for error in oshi_form.oshi_name.errors %}
  <span class="error_message">{{ error }}</span>
  {% endfor %}
  <p>
    {{ oshi_form.posted_at.label }}
    <input
      type="datetime-local"
      placeholder="下の写真のポスト投稿日時（入力省略可能）"
      name="real_posted_at"
      id="datetimeInput"
    />
  </p>
  {% for error in oshi_form.posted_at.errors %}
  <span class="error_message">{{ error }}</span>
  {% endfor %}
  <p>
    {{ oshi_form.comment.label }}
    {{ oshi_form.comment(placeholder="推しへのコメント") }}
  </p>
  {% for error in oshi_form.comment.errors %}
  <span class="error_message">{{ error }}</span>
  {% endfor %}
  <div>
    <label>
      <span>{{ oshi_form.image(class="form-control-file") }}</span>
    </label>
  </div>
  {% for error in oshi_form.image.errors %}
  <span class="error_message">{{ error }}</span>
  {% endfor %}
  <br />
  <p>{{ oshi_form.submit() }}</p>
</form>
{% endblock %}
