{% extends "oshi_crud/base.html" %}
{% block title %}推しのコメント編集{% endblock %}
{% block content %}
<h2>推しへのコメント編集</h2>
<form
  action="{{ url_for('oshi_crud.edit_info', oshi_id=oshi.id) }}"
  method="post"
  enctype="multipart/form-data"
  novalidate="novalidate"
>
  <!-- csrfトークンと隠しフィールドを自動生成 -->
  {{ oshi_form.hidden_tag() }}

  <div>
    <div>
      <p class="edit_area">
        {{ oshi_form.oshi_name.label }}
        {{ oshi_form.oshi_name(placeholder="推しの名前またはXアカウント名") }}
      </p>
      <p>
        <a href="https://x.com/{{ for_search }}">推しがXをしていれば、そのアカウントを確認する</a>
      </p>
      {% for error in oshi_form.oshi_name.errors %}
      <span class="error_message">{{ error }}</span>
      {% endfor %}
      
      <!-- 投稿日時を表示だけする（非編集） -->
      <p class="edit_area">
        投稿日時: {{ oshi.posted_at }}
      </p>

      <p class="edit_area">
        {{ oshi_form.comment.label }}
        {{ oshi_form.comment(placeholder="推しへのコメント") }}
      </p>
      {% for error in oshi_form.comment.errors %}
      <span class="error_message">{{ error }}</span>
      {% endfor %}
    </div>
    <img
      src="{{ url_for('oshi_crud.image_file', filename=oshi.image_path) }}"
      style="margin-left: 5rem; height: 50%"
      alt="アップロード画像"
    />
  </div>
  <p><input type="submit" value="修正" /></p>
</form>

<form action="{{ url_for('oshi_crud.delete', oshi_id=oshi.id) }}" method="POST">
  {{ oshi_form.hidden_tag() }}
  <input type="submit" value="削除" />
</form>
{% endblock %}
