body {
    background-color: #3699e8;
  }
.x_profile{
    color: red;
}
.table {
    /* 隣接するボーダーを重ねて1本にして表示する */
    border-collapse: collapse;
}

table,
th,
td {
    /* 1pxの実線にして色を調節する */
    border: 1px solid #c0c0c0;
    text-align: center;
}
.error_message {
    color: red;
}
p{
    width: 50%;
}
.edit_area input{
    width: 50%;
}