{% extends "user_crud/user_base.html" %} {% block title %}ユーザー編集{%
endblock %} {% block content %}
<h2>ユーザー編集</h2>
<!--novalidate="novalidate" フォームの送信時に入力内容の妥当性をチェックしない -->
<form
  action="{{ url_for('user_crud.edit_user', user_id = user.id) }}"
  method="POST"
  novalidate="novalidate"
>
  <!-- csrfトークンを自動生成、代わりに form.hidden()でもよい -->
  {{ form.csrf_token }}
  <!-- バリデートエラーは以下のようにform.パーツ名.errorsに設定される -->
  <p>
    {{ form.username.label }} {{ form.username(placeholder="ユーザー名",
    value=user.username) }}
  </p>
  {% for error in form.username.errors %}
  <span class="error_message">{{ error }}</span>
  {% endfor %}
  <p>
    {{ form.email.label }} {{ form.email(placeholder="メールアドレス",
    value=user.email) }}
  </p>
  {% for error in form.email.errors %}
  <span class="error_message">{{ error }}</span>
  {% endfor %}
  <p>
    {{ form.password.label }} {{ form.password(placeholder="パスワード",
    value=user.password) }}
  </p>
  {% for error in form.password.errors %}
  <span class="error_message">{{ error }}</span>
  {% endfor %}
  <p><input type="submit" value="更新" /></p>
</form>

<form
  action="{{ url_for('user_crud.delete_user', user_id=user.id) }}"
  method="POST"
>
  {{ form.csrf_token }}
  <input type="submit" value="削除" />
</form>
{% endblock %}
