<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>スタートメニュー</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/start_menu.css') }}"
  />
  </head>
  <body>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a href="" class="navbar-brand"> 推し図鑑（推し一覧画面へ） </a>
        <ul class="navbar-nav">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <span class="nav-link">{{ current_user.username }}</span>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('start.menu') }}" class="nav-link">
              メニュー
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{{ url_for('start.menu') }}" class="nav-link">
              メニュー
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('auth.signup') }}" class="nav-link">
              新規登録
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('auth.login') }}" class="nav-link">
              ログイン
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      Hello ,This is application to enhauce your technological capability with
      your "Oshi".
      <h2>menu</h2>
      <!-- 下のurl_forのエンドポイントの指定は以下のように各Blueprintからでよい -->
      <p>
        <a href="{{ url_for('oshi_crud.index') }}">推し画像一覧</a>
      </p>
      <p>
        <a href="{{ url_for('oshi_crud.comment_list') }}"
          >推しへのコメント一覧</a
        >
      </p>
      <p>
        <a href="{{ url_for('user_crud.users_index') }}">ユーザー一覧</a>
      </p>
    </div>
  </body>
</html>
