{% extends "auth/auth_base.html" %} 
{% block title %}ログイン{% endblock %} 
{% block content %}
<div class="mx-auto detect-auth-main">
  <div class="card detect-auth-login">
    <header>ログイン</header>
    <section>
      <form action="{{ url_for('auth.login') }}" method="post">
        {% for message in get_flashed_messages() %}
        <span class="detect-auth-flash error_message">{{ message }}</span>
        {% endfor %} {{ form.csrf_token }} {{ form.email(class="form-control
        detect-auth-input", placeholder="メールアドレス") }} {{
        form.password(class="form-control detect-auth-input",
        placeholder="パスワード") }} {{ form.submit(class="btn btn-md
        btn-primary btn-block detect-auth-btn") }}
      </form>
    </section>
  </div>
</div>
{% endblock %}
